{% extends 'email/base.html.twig' %}

{% block subject %}{{ 'mail.user.confirmation.subject'|trans }}{% endblock %}

{% block body %}

    <p>
        {{ 'mail.user.confirmation.content.text'|trans }}:
    </p>

    <p>
        {{ generateAppUrl('confirmation?token=' ~ user.confirmationToken) }}
    </p>

{% endblock %}