{% extends 'email/base.html.twig' %}

{% block subject %}{{ 'mail.user.restore_password.subject'|trans }}{% endblock %}

{% block body %}

    <p>
        {{ 'mail.user.restore_password.content.text'|trans }}:
    </p>

    <p>
        {{ generateAppUrl('restore-password?token=' ~ user.confirmationToken) }}
    </p>

{% endblock %}