# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,Kernel.php,Constant}'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    # Gedmo Doctrine Extensions
    Gedmo\Translatable\TranslatableListener:
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ '@annotation_reader' ] ]
            - [ setDefaultLocale, [ '%env(APP_LOCALE)%' ] ]
            - [ setTranslationFallback, [ true ] ]

    Gedmo\Blameable\BlameableListener:
        tags:
            - { name: doctrine.event_subscriber, connection: default }
        calls:
            - [ setAnnotationReader, [ '@annotation_reader' ] ]

    # FOS OAuth
    FOS\OAuthServerBundle\Storage\OAuthStorage:
        public: true
        autowire: true

    App\Service\OAuth\OAuth2:
        public: true
        arguments: ['@FOS\OAuthServerBundle\Storage\OAuthStorage']

    # JMS Serializer
    jms_serializer.serialized_name_annotation_strategy:
        class: App\Serializer\CustomNameAnnotationStrategy
        arguments:
            - '@jms_serializer.camel_case_naming_strategy'

    # Symfony Maker
    Symfony\Bundle\MakerBundle\Doctrine\DoctrineHelper:
        public: true
        arguments:
            $entityNamespace: App\Entity
            $registry: '@doctrine'

    # App Listeners
    App\EventListener\Kernel\LocaleListener:
        tags:
            - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest, priority: -1 }

    App\EventListener\Kernel\ExceptionListener:
        tags:
            - { name: kernel.event_listener, event: kernel.exception }
            - { name: monolog.logger, channel: uncaught_exceptions }

    # App Services
    App\Service\Notification\Mailer:
        tags:
            - { name: monolog.logger, channel: mailer }